<div class="signup">
  <div class="container">
    <div class="signup-info">
      <div class="signup-info-title">Регистрация на сайте</div>
      <div class="signup-info-form">
        <input type="text" class="input" placeholder="Ваше имя">
        <input type="email" class="input" placeholder="Электронная почта">
        <input type="password" class="input" placeholder="Пароль">
        <div class="form-checkbox">
          <input type="checkbox"  id="agree">
          <label for="agree" class="form-checkbox-text">
            Я принимаю <a href="#">условия пользовательского соглашения</a>
            и даю <a href="#">согласие на обработку персональных данных.</a>
          </label>
        </div>
      </div>
      <button class="button big">Зарегистрироваться</button>
      <div class="login-link">
        Уже есть аккаунт?
        <a routerLink="/login">Войдите</a>
      </div>
    </div>
    <div class="signup-img">
      <img src="../../../../assets/images/signup.png" alt="signup.png">
    </div>
  </div>
</div>
