<div class="login">
  <div class="container">
    <div class="login-info">
      <div class="login-info-title">Войти в личный кабинет</div>
      <div class="login-info-form">
        <input type="email" class="input" placeholder="Электронная почта">
        <input type="password" class="input" placeholder="Пароль">
        <div class="form-checkbox">
          <input type="checkbox"  id="remember">
          <label for="remember">
            Запомнить меня
          </label>
        </div>
      </div>
      <button class="button big">Зарегистрироваться</button>
      <div class="signup-link">
        Нет аккаунта?
        <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>
    <div class="login-img">
      <img src="../../../../assets/images/login.png" alt="login.png">
    </div>
  </div>
</div>
