@import "../../../../assets/styles/variables";

.footer {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: $base-text-color;
  background-color: #B9D5FD;

  .container {
    padding: 40px 0 54px;

    .footer-menu {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      nav ul {
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0 0 0 40px;
      }

      li {
        list-style: none;
        border-bottom: 1px solid transparent;

        a {
          text-decoration: none;
          color: $base-text-color;

          &:hover {
            text-decoration: underline $base-text-color;
          }
        }
      }
    }

    .footer-info {
      display: flex;
      gap: 60px;
      margin-bottom: 6px;

      .footer-info-title {
        color: $second-color;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .footer-info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-decoration: none;
        color: $base-text-color;
        display: block;

        &.address {
          width: 253px;
        }

        &.email {
          font-size: 14px;
          text-decoration: none;
          color: $base-text-color;
        }
      }

      .button {
        margin-top: 10px;
      }

      .footer-info-social {
        display: flex;
        gap: 12px;
        padding-top: 5px;
      }
    }
    .copyright{
      color: $second-color;
    }
  }
}

.popup {

  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(134, 140, 134, 0.5);
  top: 0;
  left: 0;
  z-index: 15;

  .popup-window {
    border: 2px solid $second-color;
    border-radius: 10px;
    width: 727px;
    height: 489px;
    box-sizing: border-box;
    background: $color-white;
    padding: 94px 140px 50px;
    text-align: center;
    position: fixed;
    top: calc(50% - 245px);
    left: calc(50% - 364px);
    z-index: 15;

    .close-popup {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .popup-form {
      margin-top: 20px;
      padding: 0 11px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .select-wrapper {
        position: relative;
        display: inline-block;
      }

      .select-wrapper::after {
        content: '▼';
        color: $second-color;
        font-size: 18px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      .popup-form-services {
        box-sizing: border-box;
        padding: 17px 20px;
        border: 2px solid $second-color;
        border-radius: 3px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: $base-text-color;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;

        &:focus {
          outline: none;
          border-color: $second-color;
        }
      }

      .button {
        margin-top: 15px;
        width: 100%;
      }
      .popup-err{
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #bf0303;
        margin-top: 10px;
      }
    }
    .popup-resp{
      margin-top: 69px;
      .popup-text{
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: $font-family;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: $third-text-color
      }

    }
  }
}
