$container-width:1240px;
$base-text-color:#071739;
$second-text-color:#709fdc;
$third-text-color:#1e1a2b;
$font-family: "Montserrat", sans-serif;
$second-family: "Lora", sans-serif;
$third-family: "SuisseIntl", sans-serif;
$font3: "Inter", sans-serif;
$color-white:#fff;
