@import 'variables';
//@import "mixins";
@import 'fonts';
@import 'global';


body {
  height: 100vh;
}

app-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
